@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: white;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}
.brand span{
    color: aquamarine;
    
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;

}

.menu a {
    color: #fff;
    text-decoration: none;
    padding:10px 20px ;
}

.menu a:hover {
    background-color: aqua;
    color: #191c32;
    transition: ease-in 0.4s;
}

.menu .activo {
    color: aqua;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height:80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1 {
    font-size:3em;
}

span {
   color: aqua; 
}

.download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px 1px rgba(102, 231,200 , 69);
}

.download-cv:hover{
    background-color: white;
    box-shadow: none;

}

.main img {
    width: 350px;
    border: 7px solid aqua;
    height: 520px;
}

.about {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    text-align: left;
    text-decoration: navy;
    
   
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}
.about-info h2 {
    font-size: 2em;
    color: #191c32;
}
.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;

}
.about p {
    margin-bottom: 1em;

}